.newcontainer {
    position: relative;
}

.text-block {
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    font-size: $l-size;
}

.title{
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px black;
}