.contact-container{
  display: table;
  width: 100%;
}

.contact-form{
  display: table-cell;
  width: 70%;
  padding: 40px 40px 40px 40px;
}

.contact-info{
  display: table-cell;
  width: 30%;
  padding: 0px 60px 80px 60px;
  margin-top: 0px;
  background-color: #f6f6f6;
}