html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor:default;
  opacity: .5;
}

.is-active{
  font-weight: bold;
}

.content{
  position: relative;
  z-index:10;
  overflow: hidden;
  padding: 7.5rem 1.6rem 7.5rem 1.6rem;
  display: block;
  text-align: center;
  line-height: 1.4;
}